

.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 256px;
    width: 256px;
    background-color: aliceblue;
}
.casilla{
    box-sizing:border-box;
    height: 32px;
    width: 32px;
    background-color: aqua;
    border: 1px solid black;
}


.barco{
    height: 32px;
    background-color: darkolivegreen;
    margin: 4px;
}
.barco1{
    width: calc(5*32px);
}
.barco2{
    width: calc(4*32px);
}
.barco3{
    width: calc(3*32px);
}
.barco4{
    width: calc(3*32px);
}
.barco5{
    width: calc(2*32px);
}